body {
    background-color: #EEEEEE;
}

@media only screen and (max-width: 1367px) {
    body {
        -moz-transform: scale(0.9, 0.9); /* Moz-browsers */
        zoom: 0.9; /* Other non-webkit browsers */
        zoom: 90%; /* Webkit browsers */
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #acacac;
}